body{
    padding-top: 50px;
    background-color: whitesmoke;
    
}



#steveJobs{
    margin-top: 50px;
}

#downArrow{
    color: whitesmoke;
    text-align: center;
    margin-top: 90px;
    animation: glow .8s infinite alternate;
   }

@keyframes glow {
    to {
        text-shadow: 0 10px 0px mediumaquamarine;
        opacity: .9;
        color: whitesmoke;
    }
}


#nav-links{
    margin-left:auto;
}

header{ 
   
    background-size: cover;
    background-position: center;
    background-image: url(../images/Optimized-sky.jpg);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;  
    color: whitesmoke;
    text-shadow: 2px 2px black;
    height: 95vh;
}


img{
    max-width: 100%;
    height: auto;
}

#richard-pic{
    border: 2px solid mediumaquamarine;
    border-radius: 360px;
    transition: transform 1s ; 
}

#richard-pic:hover{
    transform: rotate(4deg) scale(1.1);
}

hr{
    background-color: aquamarine;
    width: 75%
    
}

.icon-color{
    color: mediumaquamarine;
    transition: transform 1s;
}

.icon-color:hover{
    transition: .4s ease-out;
    color: darkcyan;
    transform: scale(1.3);
}

.navbar-inverse .navbar-nav .nav-link {
    color: mediumaquamarine;
}


