.col {
    
    @media screen and #{$brk-narrow} {
    
    max-width: 50%;
    margin: -4px;
    display: inline-block;
    vertical-align: top;
    }
    
    @media screen and #{$brk-wide}{
        max-width: 30%;
        display: inline-block;
    }
    
  }