/* Footer */

footer {
  margin: 0 $margin;
  max-width: 90%;
  padding: 25px 0;
    
    @media screen and #{$brk-narrow} {
         padding-bottom: 80px;
    }
}

footer h1 {
  font-size: .9em;
    
    @media screen and #{$brk-narrow} {
        
    }
}

footer a {
  font-size: .8em;
  font-weight: 700;
    
    @media screen and #{$brk-narrow} {
        
    }
  
}

.footer-name {
  display: inline-block;
    
    @media screen and #{$brk-narrow}{
        
    }
}

.footer-top {
  display: inline-block;
  float: right;
    
    @media screen and #{$brk-narrow} {
        display: none;
    }
   
}

.footer-nav {
  display: none;
    
    @media screen and #{$brk-narrow} {
        
    }
  
}

 .footer-nav li {
     
     @media screen and #{$brk-narrow}{
         
     }
     
  }