.main-header {
    @extend %flex;
	padding-top: 2em;
    
     @media screen and #{$brk-narrow} {
        justify-content: flex-end;
    }
    
    @media screen and #{$brk-wide}{
        flex-direction: row;
    }
}