



.nav {
    @extend %flex;
	margin-top: 1.5em;
    
    @media screen and #{$brk-narrow} {
        margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
    }
    
    @media screen and #{$brk-wide}{
        margin-top: 0;
        
		align-self: center;
        display: inline-block;
    }
    
   
}

 .nav li {
     
   @media screen and #{$brk-wide}{
        margin-left: .65em;
		margin-right: .65em;
        float: right;
    }
     
  }

.nav a {
	display: block;
	color: $rolling-stone;
	font-size: 1.125em;
	font-weight: 300;
	@extend %centered;
	padding: .4em;
	border-bottom: 1px solid $alabaster;
    
     @media screen and #{$brk-wide} {
        
    }
}

.nav a:hover {
	color: $black;
	border-bottom-color: $fountain-blue;
}

.name{
    @extend %centered;
    
    @media screen and #{$brk-wide}{
        margin-right: auto;
    }
}
