/* Portfolio Content */

#portfolio {
  @extend %centered;
  margin-bottom: 80px;
  background-color: $white;
    
    @media screen and #{$brk-narrow}{
        display: inline-block;
    }
    
    @media screen and #{$brk-wide}{
        margin-bottom: 30px;
    }
    
}

.portfolio-title {
  margin: 50px 0;
}

#portfolio li {
  margin-bottom: 45px;
}

#portfolio img {
  max-width: 90%;
  margin: 5px $margin;
}

#portfolio p {
  max-width: 90%;
  margin: 0 $margin;
}

