/*------BASE STYLES-------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #384047;
	font-size: 1em;
}

select {
    
    color: gray;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(103,92,132,.4);
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 10px 0;
    padding-bottom: 10px;
}

legend {
    font-weight: 700;
    padding-top: 10px;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-header {
    margin-top: -23px;
    text-align: center;
    color: white;
    background: #00997a;
}

li {
    list-style-type: none;
}

hr {
    border: none;
    margin: 3em 0 1em 0;
    width: 100%;
    height: 3px;
    background-color: #00997a;
}

/*------CONTAINERS------*/
.wrapper {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.intro {
    text-align: center;
}

.state-menu{
    background-color: #ccfff2;
}

.comments {
    width: 100%;
    height: 100px;
    border-radius: 3px;
    border: 3px solid #D3D3D3;
    margin-bottom: 10px;
    margin-top: 15px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

/*------FORM-------*/

label {
    display: inline-block;
    margin-top: .5em;
}

form {
    padding: 0 10px 15px;
    border-radius: 7px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    display: block;
    text-align: left;
    border-radius: 7px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #D3D3D3;
    margin-bottom: 10px;
    background: #ccfff2;
    font-size: .8rem;
    outline: none;
    border-radius: 5px;
    transition: padding 0.5s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
    background-color: #e7f5fe;
    box-shadow: 0 0 3px #aaa;
    border: 3px solid #878787;
	padding: 12px;
}

input[id="zip-code"]{
    width: 50%;
}

textarea {
    font-size: 14px;
    background: #ccfff2;
    padding-left: 5px;
    outline: none;
    resize: none;
}

textarea:focus {
    background-color: #e7f5fe;
    border: 3px solid #a0a0a0;
}

select {
    width: 100%;
    display: block;
    height: 42px;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid #D3D3D3;
    margin-bottom: 10px;
    background: #f5e6ff;
    outline: none;
}

fieldset {
    border: hidden;
}


/*------PLACEHOLDER-------*/
::-webkit-input-placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 2em;
}

::-moz-placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 2em;
}

::-moz-placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 2em;
}

::-ms-input-placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 2em;
}

/*------BUTTONS-------*/
button {
    font-size: 24px;
    text-align: center;
    border-radius: 7px;
    padding: 14px;
    width: 100%;
	max-width: 100%;
    font-weight: 500;
    text-align: center;
	margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4ebbb5;
    text-transform: uppercase;
    color: #fff;
}

button:hover {
    background-color: #36827e;
    cursor: pointer;
    transition-duration: .5s;
}

.sign-up {
    background: #4ebbb5;
    width: 100%;
}

hr.style17 {
	border-top: 1px solid  #4ebbb5;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background:   #f0f0f0;
	color:  #4ebbb5;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/*-----------RADIO BUTTONS & CHECKBOX -----------*/

input[type="radio"],
input[type="checkbox"] {
    display: inline;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type=radio] + label,
input[type=checkbox] + label {
    display: inline;
}

input[id="html_news"],
input[id="css_news"],
input[id="js_news"]{
	margin-top: 15px;
	margin-bottom: 5px;
	
}

input[id="html"],
input[id="plain"] {
	margin-top: 15px;
	margin-bottom: 5px;
	
}




/*-----------FOOTER---------------*/
footer {
    margin-top: 10px;
}

.copyright {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: #bdbdbd;
}


/* Media Query -------------------- */

/*------MEDIA-QUERIES-------*/

@media (min-width: 760px) { 

.wrapper {
   max-width: 800px;
}

.field {
	display:block;
	overflow: hidden;
}

.field label,
.field input,
.field select {
	display: inline-block;
	
}

.field label {
	margin-top: 1em;
	
}

.field input:not(#zip-code),
.field select {
	float: right;
	width: 70%;
	
}

input[id="zip-code"] {
	width: 30%;
	margin-left: 8.5em;
	
}



}