/* ========================================
  Fixes Box Sizing
======================================== */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }



/* ========================================
  Clears List Styles, Margin, and Padding
======================================== */

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* ========================================
  General CSS
======================================== */


* {
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}


a {
  text-decoration: none;
}

a:hover {
  color: #8a8a8a;
}

/* Page Title */
h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

/* Section Headers */
h2 {
  font-size: .9em;
  font-weight: 700;
}

/* Portfolio, Phone, Email */
h3 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: .9em;
  font-weight: 300;
}



/* Header - Name, Nav, Bio, Img */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 2em;
}

.site-logo {
	width: 110px;
	align-self: center;
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	display: block;
	color: #797e83;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #52bab3;
}

.name{
    text-align: center;
}



header {
  text-align: center;
  background-color: #F8F8F8;
  padding: 30px 0;
}

.main-title {
  padding-bottom: 10px;
}

.main-nav {
  font-weight: 700;
  padding: 20px 0;
}

.main-nav li {
  background-color: #fff;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 5px; /* Space between li */
}

.main-nav li a {
  display: block;
  padding: 10px 0; /* Padding between content and border */
}

.bio {
  text-align: center;    
  max-width: 90%;
  margin: 0 auto;
}

.bio img {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.bio p {
  padding: 0 10px;
  color: #666;
  font-size: 1em;
}

.social {
  margin-top: 25px;
}

.social li {
  display: block;
  margin: 10px 0;
}

.social-link {
  font-weight: 400;
  font-size: 1.1em;
  padding-left: 8px;
}

.fa {
  font-size: 1.4em;
}

.fa:hover {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}


/* Portfolio Content */

#portfolio {
  text-align: center;
  margin-bottom: 80px;
  background-color: #fff;
}

.portfolio-title {
  margin: 50px 0;
}

#portfolio li {
  margin-bottom: 45px;
}

#portfolio img {
  max-width: 90%;
  margin: 5px auto;
}

#portfolio p {
  max-width: 90%;
  margin: 0 auto;
}



/* Div for Background Color, Contact and Footer */

.greybkg {
  background-color: #F8F8F8;
}



/* Contact Section */

#contact {
  text-align: center;
  padding: 60px 0;
  border-bottom: 1px solid #DBDBDB;
  border-bottom-width: thin;
  max-width: 90%;
  margin: 0 auto;
}

.contact-title {
  font-size: .9em;
  padding-bottom: 35px;
}

#contact ul {
  margin-top: 30px;
}

#contact li {
  margin-bottom: 15px;
}

#contact h3 {
  display: inline;
  font-weight: 200;
  font-size: 1em;
  color: #888;
}
#contact p {
  max-width: 90%;
  margin: 0 auto;
  color: #666;
  font-size: 1em;
}

#contact a {
  padding-left: 10px;
  font-weight: 600;
  color: #888;
}



/* Footer */

footer {
  margin: 0 auto;
  max-width: 90%;
  padding: 25px 0;
}

footer h1 {
  font-size: .9em;
}

footer a {
  font-size: .8em;
  font-weight: 700;
}

.footer-name {
  display: inline-block;
}

.footer-top {
  display: inline-block;
  float: right;
}

.footer-nav {
  display: none;
}

/* ========================================
  Media Queries
======================================== */

/* Tablets */

@media screen and (min-width: 768px) {
    
  .main-nav li {
    background-color: #F8F8F8;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
  }

  .bio img {
    max-width: 50%;
    float: right;
  }

  .bio p {
    max-width: 50%;
    float: left;
    font-size: 1.4em;
    text-align: left;
  }

  .social {
    min-width: 100%;
    display: inline-block;
    margin-top: 20px;
  }

  .social li {
    display: inline-block;
    padding-right: 30px;
    padding-left: 5px;
  }

  .col {
    max-width: 50%;
    margin: -4px;
    display: inline-block;
    vertical-align: top;
  }

  footer {
    padding-bottom: 80px;
}

  .footer-top {
    display: none;
  }

  .footer-nav {
    display: inline;
    float: right;
  }

  .footer-nav li {
    float: left;
    padding-left: 10px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Large Displays */

@media screen and (min-width: 1024px) {
  .top-bar {
    max-width: 90%;
    margin: 0 auto;
  }

  .main-title {
    float: left;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .main-nav {
    float: right;
  }

  .bio p {
    padding: 0;
  }

  .bio img {
    padding: 0;
  }

  .social {
    float: left;
    min-width: 50%;
  }

  .social li {
    display: inline-block;
    margin: 10px 0;
  }

  .social-link {
    font-size: 1.4em;
  }

  .fa {
    font-size: 1.8em;
  }

  .main-nav li {
    padding-right: 0;
    padding-left: 15px;
  }

  .col {
  max-width: 30%;
  }

  #portfolio {
  margin-bottom: 30px;
 }
}




/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
	.main-header {
		
		justify-content: flex-end;
	}
	.site-logo {
		width: 140px;
	}
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}
}

@media (min-width: 1024px) {
	.main-header {
		flex-direction: row;
	}
	.name {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}
}