html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }



/* ========================================
  Clears List Styles, Margin, and Padding
======================================== */

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* ========================================
  General CSS
======================================== */


* {
  font-family: $stack-open-sans;
  color: $tundora;
}


a {
  text-decoration: none;
    &:hover {
       color: $gray;
    }
}


/* Page Title */
h1 {
  @include text(1.8em,700,$color:null );    
  margin: 0;
      
}

/* Section Headers */
h2 {
    @include text(.9em, 700, $color:null ); 
  
}

/* Portfolio, Phone, Email */
h3 {
    @include text(1.2em,400,$color:null ); 

}

p {
    @include text(.9em,300,$color:null ); 
  font-size: .9em;
  font-weight: 300;
}


header {
  @extend %centered;
  background-color: $main-bkrnd-color;
  padding: 30px 0;
}


//for the background color, contact, and footer
.greybkg {
  background-color: $main-bkrnd-color;
}
